<!--<h1>Не забудь, сынок!</h1>
<p><h3>...о самом важном в твоей бесполезной жизни</h3><br> </p>
-->
<h1>Запись</h1>
<h3>н приём</h3>
<form action="/visit" method="POST" role="form">

<div class="form-group"> 
<label>Ваше имя</label>
<input name="username" type="text" class="form-control" placeholder="Ваше имя">
</div>

<div class="form-group"> 
<label>Ваш телефон</label>
<input name="phone" type="text" class="form-control" placeholder="Ваш телефон">
</div>

<div class="form-group"> 
<label>Когда вас ждать?</label>
<input name="datetime" type="text" class="form-control" placeholder="Введите дату и время">
</div>


<div class="form-group"> 
<label>Ваш парикмахкер:</label>
  <select name="barber" class="form-control">
    <option>Jessie Pinkman</option>
    <option>Walter White</option>
    <option>Gus Fring</option>
  </select>
</div>

<button type="submit" class="btn btn-primary">Записаться</button>

</form>


<!-- 
<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>То, что мне надо</th>
          <th>То, что мне <b>не</b> надо</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Ruby</td>
          <td>Наркотики</td>
          
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Linux/terminal</td>
          <td>Безделие</td>
          
        
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>English</td>
          <td>Игры</td>
          
        </tr>
      </tbody>
    </table>
    <div class="bs-callout bs-callout-info" id="callout-help-text-accessibility">
    <h4>Никогда не опускай руки, унылая какашка</h4>
    <p>И если ты найдешь в себе силы, все будет<code> ЗАЕБИСЬ </code> ну а пока, закрывай вкладку и продолжай учиться</p>
  </div>
    <button type="button" class="btn btn-warning">Спасибо!!!!</button>
 -->